.type{
    border-bottom: 1px solid rgb(145, 145, 145);
    color: rgb(145, 145, 145);
    font-size: 18px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.add-button, .button-trash{
    background: none;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
    font-size: 10px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}