.product-card{
    padding: 5px;
    background-color: #1A1A18;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 8px 16px 25px 1px rgba(0, 0, 0, 0.3);
    .container{
        display: flex;
        gap: 5px;
        .product-card-title{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 6px;
            font-weight: bold;
            grid-area: title;
            width: 150px ;
        }
    
        .product-card-price{
            display: flex;
            width: 150px ;
            justify-content: center;
            align-items: center;
            background: #30302C;
            border-radius: 4px;
            padding: 3px;
            max-height: 25px;
            min-width: 100px;
            grid-area: price;
        }
    }
    
    .product-card-description{
        width: 95%;
        min-height: 20px;
        text-align: center;
        align-items: center;
        color: #a5a5a5;
        border: 1px solid #30302C;
        border-radius: 4px;
        padding: 6px;
        grid-area: description;
    }

    .button-in-basket{
        white-space: nowrap;
        width: 150px;
        border: none;
        background: none;
        color: white;
        padding: 6px;
        background-color: #1B4DB9;
        border-radius: 4px;
        max-width: 150px;
        height: fit-content;
        margin-right: auto;
        grid-area: button;
    }
}

@media screen and (max-width:500px) {
    .product-card{
        display: flex;
        flex-direction: column;
        gap: 5px;
        .product-card-description{
            width: 95%;
        }
    }
}