#delivery-sdek-forma{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    input{
        height: 30px;
        width: 100%;
    }
    &label{
        display: flex;
        justify-content: space-between;
        white-space:nowrap;
        gap: 10px;
    }
}
.container-input{
    width: 60%;
}
.container-input > div{
    width: 100%;
}

@media screen and (max-width:450px) {
    .container-input{
        width: 100%;
    }
    .container-input > div{
        width: 100%;
    }
}